
@{
    ViewBag.Title = "Dashboard";
}

<div class="vertical-pad"></div>

<!--Main layout-->
<div class="container">

    <h1 class="header-text">Inicio</h1>
    <hr>

    <!--First row-->
    <div class="row card-container">
        <div class="col-md-12">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/img/cows.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Animales</h4>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo lorem nec odio interdum, a imperdiet magna congue. Quisque at ipsum ac tortor iaculis scelerisque placerat quis libero. Nullam tincidunt.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
    </div>
    <!--/.First row-->
    <!--Second row-->
    <div class="row card-container">
        <!--First columnn-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/img/barnsy.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Rancho</h4>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices bibendum est et auctor. Fusce volutpat est non sapien sollicitudin.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/img/baby2.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Reproducción</h4>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices bibendum est et auctor. Fusce volutpat est non sapien sollicitudin.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/img/sadcow.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Enfermedades</h4>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices bibendum est et auctor. Fusce volutpat est non sapien sollicitudin.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
    </div>
    <!--/.Second row-->

</div>
<!--/.Main layout-->

<div class="vertical-pad"></div>