@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <div class="vertical-pad"></div>
    <div class="container">


        <div class="row">



            <div class="col-md-12 text-xs-center">



                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h1 class="card-title">404 - Página No Encontrada!</h1>
                        <!--Text-->
                        <p class="card-text">Ésta página no existe. Pulsa la flecha <i class="fa fa-arrow-left"></i> de tu navegador para regresar en donde te encontrabas anteriormente o pulsa el botón para regresar al inicio.</p>
                        <a href="~/Views/Home" class="btn btn-primary">Inicio</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->



            </div>



        </div>


    </div>




</body>
</html>
